.scoreContainer {
  margin-left: auto;
  margin-right: auto;
}
.scoreSection {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(51, 51, 51, 0.08);
  border-radius: 8px;
}
.scoreCard {
  position: relative;
}
.progress {
  position: relative;
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}
.userProgress,
.userProgressKathryn,
.userProgressDiane {
  height: 134px;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4) 0%,
      rgba(17, 17, 17, 0.72) 93.75%
    ),
    url(../../images/BGimage1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.userProgressKathryn {
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4) 0%,
      rgba(17, 17, 17, 0.72) 93.75%
    ),
    url(../../images/image10.jpg);
}
.userProgressDiane {
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4) 0%,
      rgba(17, 17, 17, 0.72) 93.75%
    ),
    url(../../images/BGimage3.jpg);
}
.progressBox {
  position: absolute;
  width: 46px;
  height: 24px;
  top: 0;
  border-top-left-radius: 8px;
  background-color: #27ae60;
}
.avatarImg {
  position: absolute;
  width: 56px;
  height: 56px;
  bottom: -5%;
  margin-left: 20px;
}
.avatarName {
  position: absolute;
  height: 56px;
  bottom: -15%;
  margin-left: 88px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.informSection {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 24px;
  margin-right: 20px;
}
.userLabel {
  margin-bottom: 13px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #111111;
}
.scoreInformation {
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 32px;
}
.icon {
  width: 24px;
  height: 24px;
  padding: 1px;
  margin-right: 6px;
}
.scoreTitleItem,
.scoreListItem {
  display: flex;
  align-items: center;
  align-content: center;
}
.scoreTitleItem:not(:last-child),
.scoreListItem:not(:last-child) {
  margin-right: 16px;
}

.scoreTitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #111111;
}
.scoreButton {
  padding: 10px 20px;
  margin-right: 28px;
  border: 1px solid #6e41e2;
  border-radius: 4px;
  color: #6e41e2;
  background: none;
  cursor: pointer;
}

.moreButton {
  border: 0px;
  padding: 0;
  background: none;
  color: #6e41e2;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (max-width: 568px) {
  .scoreInformation {
    flex-direction: column;
  }
  .icon {
    width: 36px;
    height: 36px;
    padding: 1px;
    margin-right: 6px;
  }
  .scoreTitle {
    font-size: 20px;
    line-height: 1.5px;
    color: #111111;
  }
}
@media screen and (min-width: 768px) {
  .scoreContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .scoreSection {
    margin: 5px;
    width: 400px;
    height: 347px;
  }
  .buttonContainer {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}
@media screen and (min-width: 1366px) {
  .scoreContainer {
    flex-wrap: nowrap;
  }
  .scoreSection {
    width: 400px;
  }
}
