.loginSection {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  vertical-align: middle;
}
.loginContainer {
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
}
.registration {
  display: flex;
}
.registrationItem,
.registrationItemActive {
  margin-right: 24px;
  padding-bottom: 15px;
  color: #6b6b6b;
}
.registrationItemActive {
  position: relative;
  color: #111111;
}
.registrationItemActive::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #6e41e2;
  border-radius: 2px;
}
.registrationItem a,
.registrationItemActive a {
  color: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.signUpOptions {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
}
.profileStyles {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}
.loginPageContainer {
  margin-top: 71px;
  margin-bottom: 69px;

  align-items: center;
  align-content: space-around;
  justify-content: center;
  width: 478px;
  height: 628px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(51, 51, 51, 0.08);
}

.formContainer {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-left: auto;
  margin-right: auto; */
  width: 100%;
}

.linkSocial,
.linkSocialLast {
  display: flex;
  width: 36px;
  height: 36px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .linkSocial:not(:last-child) {
  margin-right: 8px;
} */
.linkSocialLast {
  margin: 0;
}

.linkSocial:hover,
.linkSocial:focus,
.linkSocialLast:hover,
.linkSocialLast:focus {
  background-color: rgba(181, 189, 181, 0.363);
  border: 1px solid #31b2e6;
}
.linkIcon {
  width: 36px;
  height: 36px;
  padding: 8px;
}

.signContainer {
  display: flex;
  background-color: #fafafa;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px;
}

.links {
  display: flex;
}

.privacy {
  margin-left: 5px;
  color: #6e41e2;
}

.checkboxIcon {
  margin-right: 8px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #212121;
  border-radius: 4px;
  margin-left: 12px;

  cursor: pointer;
}
.checkbox:checked + .checkboxIcon {
  background-image: url("../../images/icon-check.svg");
  background-color: #6e41e2;
  background-size: contain;
  background-origin: border-box;
  border-color: #ffffff;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkBoxContainer {
  display: flex;
  align-items: flex-start;
}

.formSection {
  display: flex;
  /* margin-left: 32px;
  margin-right: 32px;
  margin-top: 24px; */
  margin: 32px 24px;
}
.registrationButton {
  margin-top: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #6e41e2;
  color: #ffffff;
  border-radius: 4px;
  border-color: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
.signInButton {
  border: 0px;
  margin-top: 18px;
  background: none;
  color: #6e41e2;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.signInLink {
  margin-left: auto;
  margin-right: auto;
}

.inputStyles {
  margin-bottom: 20px;
  padding: 16px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(51, 51, 51, 0.08);
  border: 0px solid transparent;
  border-radius: 4px;
  width: 100%;
  color: rgba(17, 17, 17, 0.48);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* display: block; */
}

.buttonContainer {
  display: flex;
  flex-direction: column;
}
