.headerSection {
  position: relative;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
}
.headerSection::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #f2f2f2;
  border-radius: 2px;
}
.headerSectionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
}
.logoContainer {
  margin: 22px 24px;
}
.headerLinksContainer {
  margin-right: 56px;
}

.userContainer {
  display: flex;
  align-items: center;
}
.userName {
  margin-right: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #6e41e2;
}
.avatar {
  width: 44px;
  height: 44px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 50%;
}
.logo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #111111;
}
.headerLinkList {
  display: flex;
}
.headerLinkItem,
.headerLinkItemActive {
  margin-right: 24px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(17, 17, 17, 0.48);
}
.headerLinkItem:not(:last-child) {
  margin-right: 24px;
}
.headerLinkItemActive {
  position: relative;
  color: #111111;
}
.headerLinkItemActive::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #6e41e2;
  border-radius: 2px;
}

@media screen and (max-width: 568px) {
  .headerLinkItem,
  .headerLinkItemActive,
  .userName {
    margin-right: 0;
  }
  .headerLinkList {
    display: block;
  }
  .headerLinkItemActive {
    color: #6e41e2;
  }
  .userContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headerContainer {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 420px) {
  .headerLinkItem,
  .headerLinkItemActive,
  .userName {
    font-size: 12px;
    line-height: 24px;
  }

  .avatar {
    width: 36px;
    height: 36px;
    padding: 5px;
  }
}
